:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  //noinspection CssUnknownProperty
  color-scheme: light;
  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

div {
  display: block;
  box-sizing: border-box;
}

small{
  font-size: .5em !important;
}

.content-container {
  max-height: calc(100vh - (var(--toolbar-height) * 2));
}

#app{
  background-color: var(--color-gray-100);
}

.up-table-cell-header[data-key-name="action"]{
  text-align: right;
  justify-content: flex-end !important;
}